<!DOCTYPE html>
<html>

{% include head.html %}

    <body>
	


        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        
				{% for page in site.pages %}
				{% if page.title %} <h3 class="title"; style="text-align:right"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>{% endif %}
				{% endfor %}
		</div>

          {{ content }}

          {% include footer.html %}

    </body>
</html>
