<!DOCTYPE html>
<html>

{% include head.html %}

    <body>
	
        <div class="site">
			<div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
				<nav class="site-nav">
					{% for page in site.pages %}
					{% if page.title %} <h3 class="title"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>{% endif %}
					{% endfor %}
				</nav>
			</div>
	
	<div class="page-content">
      <div class="wrap">
          {{ content }}
	  </div>
    </div>
          {% include footer.html %}
		  
		</div>
    </body>
</html>
